
@model ConsultoriaSAS.Web.ModelView.UserView

@{
    ViewBag.Title = "AddRole";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Rol para usuario : @Model.Name</h2>


<h3>@ViewBag.Error</h3>


@using (Html.BeginForm("AddRole", "Users",
    new { userID = Model.UserId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Roles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Role.RoleId, "RoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", null, htmlAttributes: new
             { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.RoleId,
               "", new { @class = "text-danger" })

            </div>
        </div>
        @Html.ActionLink("Return to User", "Roles",
    new { userID = Model.UserId }, new { @class = "btn btn-info" })
        <input type="submit" value="Add Role" class="btn btn-success" />


    </div>
}

