@model IEnumerable<ConsultoriaSAS.Entity.Entities.WorkStation>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_ModalPage")

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">


        <thead>
            <tr style="  background-color: #343c44">

                <th style="text-align: center ; ">
                    <font color="#fff">
                        Nombre
                    </font>
                <th style="text-align: center ; ">
                    <font color="#fff">
                        Descripción
                    </font>
                </th>

                <th style="text-align: center ; ">
                    <font color="#fff">
                        Acciones
                    </font>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td class="table-active" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-active" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-active" style="text-align: center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.WorkStationId }, new { @class = "btn btn btn-dark" })
                    @Html.ActionLink("Details", "Details", new { id = item.WorkStationId }, new { @class = "btn btn btn-dark" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.WorkStationId }, new { @class = "btn btn btn-dark" })

                </td>
            </tr>
        }

    </table>

</div>


@section scripts
{
    <script src="~/Scripts/ViewModal/WorkStation.js"></script>
}