@model ConsultoriaSAS.Entity.Entities.Call

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Call</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegister)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn btn-dark" })
</p>
