@model ConsultoriaSAS.Entity.Entities.Request

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn btn-dark" })
</div>
    }
</div>
